version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: edra-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: edra

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: edra-backend
    restart: always
    depends_on:
      - mongo
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env

  nginx:
    image: nginx:alpine
    container_name: edra-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend

volumes:
  mongo_data: