.message {
    font-family: var(--rs-font-family-body-1);
    font-size: var(--rs-font-size-body-1);
    font-weight: var(--rs-font-weight-body-1);
    letter-spacing: var(--rs-letter-spacing-body-1);
    line-height: var(--rs-line-height-body-1);
    word-break: break-word;
}


.message {
    p, code, pre {
        white-space: pre-wrap;
        margin-block: 1em;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin-left: 1em;
    }
}